<app-sidebar></app-sidebar>
<div class="container">
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th></th>
        <th *ngFor="let application of Application; let i = index">
          {{application.name}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of Adminuser; let i = index">
        <td>{{admin.name}}</td>
        <td *ngFor="let application of Application; let i = index">
          <span>True / False</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
